/* Custom CSS for Presentation */

hr {
	margin: 2%;
}

table {
	margin: auto;
	width:100%;
}

th {
	background-color: #202020;
	padding-left:5%;
}

tr:nth-child(odd) {
    background-color: #303030;
}

.red {
	color: red;
}

.green {
	color: green;
}

.welch p {
	font-size: 150%;
	margin-bottom: 5%;
	text-align: left;
}

p.gray {
	color: #808080;
	font-size: 75%;
}

p.top {
	margin-top: 5%;
}

h3.subtitle, h4.subtitle {
	color: #c0c0c0;
}